div.CodeMirror-cursorsVisible {
visibility: visible !important;
 }
  .bs-example{
    margin: 20px;
  }
  .CodeMirror {
    border: 3px solid #eee;
    height: auto;
  }
  td {
    padding-right: 20px;
  }
  .code {
    margin: 10px 0;

  }
  .code.icons {
    margin: 10px 0;

  }

  .inline {
    display: inline-block;
    margin: 0;
  }
   .pre_icons
   {
  position: absolute;
  right: 18px;
  margin-top: -31px;
  z-index: 100;
   }
